.streetLights {
  border-style : solid;
  border-width: 5px;
  width : 206px;
  height : 618px;
}
.light {
  border-style : solid;
  border-width: 3px;
  border-radius: 50%;
  width: 200px;
  height: 200px; 
}
.streetLights>.light.red.active, .streetLights>.light.red:hover {
  background-color:red;
}
.streetLights>.light.yellow.active, .streetLights>.yellow:hover {
  background-color:yellow;
}
.streetLights>.light.green.active, .streetLights>.green:hover {
  background-color:green;
}
